/build
/models/model.obj
/textures/model_texture.png
/.cache
/.idea
compile_commands.json
core
!/sigil/core
/subprojects/*
!/subprojects/imgui.wrap
!/subprojects/packagefiles
!/subprojects/vulkan-memory-allocator.wrap
!/subprojects/VulkanMemoryAllocator-Hpp.wrap

