[submodule "lib/odin"]
	path = lib/odin
	url = https://github.com/odin-lang/Odin
[submodule "lib/odin-vma"]
	path = lib/odin-vma
	url = https://github.com/nice-sprite/odin-vma
[submodule "lib/odin-vma-3.1"]
	path = lib/odin-vma-3.1
	url = https://github.com/lindelovv/odin-vma
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://gitlab.com/L-4/odin-imgui
[submodule "lib/jolt"]
	path = lib/jolt
	url = https://github.com/jrdurandt/jolt-odin
[submodule "lib/slang"]
	path = lib/slang
	url = https://github.com/DragosPopse/odin-slang
[submodule "lib/back"]
	path = lib/back
	url = https://github.com/laytan/back/
